@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:wght@400;700&family=VT323&display=swap');

:root{
    --body-margin: 2vw;
    --ducts-height: 10%;
    --ducts-width: 8.5%;
    font-size: 2vw;
}
*{
    /* font-family: 'Arvo', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'VT323', monospace; */
    font-family: 'Red Hat Mono', monospace;
}
html{
    /* height: 100%;
    width: 100%; */
    padding: 0;
    margin: auto;
    height: 100%;
    /* margin: var(--body-margin); */
}

body {
    margin: var(--body-margin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex {
    display: inline-flex;
    margin: 0;
    /* height: calc(100% - var(--body-margin)*2); */
    /* width: calc(100% - var(--body-margin)*2); */
    width: 80vw;
    height: 68vw;
    /* width: 850px; */
    /* max-height: 900px; */
    position: relative;
}

/* .pokedex::before {
    content: '';
    display: block;
    padding-top: 85%;
} */

.left-side {
    width: calc(50% + (var(--ducts-width)/2) + 0.35vw);
    border-radius: 1vw;
    display: flex;
    
    box-shadow:
    inset 4px 4px 6px -1px rgb(255 99 99),
    inset 0px -4px 10px -2px rgb(68 0 0);

    background: -moz-linear-gradient(90deg, rgba(255,19,49,1) 0%, rgba(250,0,0,1) 50%, rgba(214,0,0,1) 98%, rgba(168,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,19,49,1) 0%, rgba(250,0,0,1) 50%, rgba(214,0,0,1) 98%, rgba(168,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(255,19,49,1) 0%, rgba(250,0,0,1) 50%, rgba(214,0,0,1) 98%, rgba(168,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff1331",endColorstr="#a80000",GradientType=1);
}

.main-container{
    height: 100%;
    width: calc(100% - var(--ducts-height));
    
    /*
    border-radius: 1vw 0px 0px 1vw;
    box-shadow:
    inset 4px 4px 6px -1px rgb(255 99 99),
    inset -6px -4px 10px -2px rgb(68 0 0);

    background: rgb(116,0,0);
    background: -moz-linear-gradient(270deg, rgba(116,0,0,1) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(116,0,0,1) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: linear-gradient(270deg, rgba(116,0,0,1) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#740000",endColorstr="#d0051f",GradientType=1); */
}

.main-center {
    width: calc(100% - 0.7vw);
    /* width: 100%; */
    height: calc(100% - var(--ducts-height)*2);
    position: relative;
    /* top: var(--ducts-height); */
    top: calc(var(--ducts-height)*1.5);
    left: 0.7vw;
    padding: 7%;
    
    border-radius: 1vw 0px 0px 1vw;
    
    box-shadow:
    inset 0px 10px 10px -10px rgb(124 0 0),
    inset 0px 10px 20px -15px rgb(0 0 0),
    -1px -2px 4px 0px rgb(255 255 255 / 50%),
    inset 0px -10px 10px -10px rgb(124 0 0),
    inset 0px -10px 20px -15px rgb(0 0 0),
    0px 5px 4px -3px rgb(255 255 255 / 60%);

    background: rgb(116,0,0);
    background: -moz-linear-gradient(270deg, rgb(145, 0, 0) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: -webkit-linear-gradient(270deg, rgb(145, 0, 0) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: linear-gradient(270deg, rgb(145, 0, 0) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#740000",endColorstr="#d0051f",GradientType=1);
}

.main-shape {
    background-color: rgb(228, 228, 228);
    -webkit-clip-pathh: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 80%, 0% 0%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 80%, 0% 0%);
    height: 100%;
    border-radius: 1vw 1vw 1vw 0px;
    width: 100%;
}
.main-screen {
    /* background-color: rgb(228, 228, 228); */
    height: 50%;
    /* width: 86%; */
    position: relative;
    left: 1%;
    /* top: 5%;
    left: 7%; */
    box-sizing: border-box;
    filter: drop-shadow(-0.4vw 0.4vw 0.1vw rgb(145, 145, 145))
    drop-shadow(0.0vw 0.2vw 0.0vw rgb(145, 145, 145))
    drop-shadow(-0.2vw 0.0vw 0.0vw rgb(145, 145, 145));
    /* border-bottom-left-radius: 20px ; */
}

.main-image {
    height: 75%;
    width: 90%;
    background-color: rgb(251, 255, 214);
    position: relative;
    /* border-radius: 10px 10px 10px 0px; */
    top: 5%;
    left: 5%;
    -webkit-clip-path: polygon(4% 0%, 96% 0%, 100% 5%, 100% 95%, 96% 100%, 4% 100%, 0% 95%, 0% 5%);
    clip-path: polygon(4% 0%, 96% 0%, 100% 5%, 100% 95%, 96% 100%, 4% 100%, 0% 95%, 0% 5%);
}

.main-image img{
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.main-controls{
    width: 100%;
    height: 47%;
    position: relative;
    top: 3%;
}
.main-controls>button{
    height: 20%;
    width: 14.71%; /* If change the height value of .main-controls, this value must change */
    border-radius: 100%;
    position: absolute;
    left: 10%;
    top: 5%;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgb(41, 41, 41);
    color: rgb(92 92 92);
    border: none;
    box-shadow: -0.38vw 0.38vw 0.08vw 0.3vw rgb(19, 19, 19);
}
button:active{
    transform: scale(0.95) translateX(-0.38vw) translateY(0.38vw);
    box-shadow: -0.18vw 0.18vw 0.08vw 0.1vw rgb(19, 19, 19);
}

button i{
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.85);
}
.main-controls .form-control{
    position: absolute;
    bottom: 2%;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: rgb(37, 43, 30);
    background-color: rgb(97, 184, 97);
    border: none;
    height: 40%;
    text-align: center;
    resize: none;
}
.main-controls .form-control::placeholder{
    color: rgb(70, 78, 62);
}
.main-controls .form-control:focus{
    color: rgb(37, 43, 30);
    background-color: rgb(97, 184, 97);
    box-shadow:
    inset -2px -3px 1px 0px rgb(97, 184, 97),
    inset -5px -6px 7px 0px rgb(216 248 210 / 27%);
}

.decoration-lights{
    height: 6%;
    width: 50%;
    position: absolute;
    left: 0%;
    top: 40%;
    /* background-color: blue; */
}
.decoration-lights div{
    position: absolute;
    /* top: 10%; */
    width: 40%;
    height: 100%;
    border-radius: 100vw;
}
.decoration-lights div:first-child{
    left: 5%;
    background-color: rgb(255, 0, 140);
    box-shadow:
    inset -2px -2px 2px 0px rgb(255, 0, 140),
    inset -5px -6px 10px 0px rgb(255, 125, 197);
}
.decoration-lights div:last-child{
    left: 55%;
    background-color: rgb(16, 90, 202);
    box-shadow:
    inset -2px -2px 2px 0px rgb(16, 90, 202),
    inset -5px -6px 10px 0px rgb(97, 153, 238);
}
.cross-button{
    position: absolute;
    left: 65%;
    width: 35%;
    height: 47.591%;
    filter: drop-shadow(-0.4vw 0.4vw 0.05vw rgb(19, 19, 19))
    drop-shadow(-0.1vw 0.2vw 0.1vw rgb(19, 19, 19))
    drop-shadow(-0.2vw 0.1vw 0.1vw rgb(19, 19, 19));
}
.cross-button button{
    position: absolute;
    box-shadow: none;
    /* box-shadow: -0.38vw 0.38vw 0.08vw 0.3vw rgb(19, 19, 19); */
}
.cross-button button:active{
    transform: scale(0.97) translateZ(-0.05vw) rotateY(20deg);
}
.cross-button:active{
    transform: scale(0.9995) translateX(-0.05vw) translateY(0.05vw);
    filter: drop-shadow(-0.2vw 0.3vw 0.05vw rgb(19, 19, 19))
    drop-shadow(-0.075vw 0.15vw 0.075vw rgb(19, 19, 19))
    drop-shadow(-0.15vw 0.075vw 0.075vw rgb(19, 19, 19));
}
.cross-button button:nth-child(3),
.cross-button button:nth-child(2){
    height: 30%;
    width: 50%;
}
.cross-button button:nth-child(3){
    top: 35%;
}
.cross-button button:nth-child(2){
    top: 35%;
    left: 50%;
}
.cross-button button:nth-child(1),
.cross-button button:nth-child(4){
    height: 50%;
    width: 30%;
}
.cross-button button:nth-child(1){
    left: 35%;
    height: 50%;
}
.cross-button button:nth-child(4){
    left: 35%;
    top: 50%;
    height: 50%;
}
.cross-button div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid rgb(92 92 92); */
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(34, 34, 34);
    box-shadow: 0.0vw 0.0vw 0.1vw 0.1vw rgb(22, 22, 22);
    border-radius: 100vw;
}

.bonding-container {
    /* height: 100%; */
    width: calc((100% - 0.7vw)*0.1566);

    border-radius: 1vw;
    box-shadow:
    -8px 0px 10px -5px rgb(98 0 0),
    inset 0px 8px 6px -6px rgba(255, 255, 255, 0.5),
    inset -6px -4px 10px -2px rgb(68 0 0);

    background: rgb(116,0,0);
    background: -moz-linear-gradient(90deg, rgb(134, 0, 0) 0%, rgba(250,0,0,1) 30%, rgba(116,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgb(134, 0, 0) 0%, rgba(250,0,0,1) 30%, rgba(116,0,0,1) 100%);
    background: linear-gradient(90deg, rgb(134, 0, 0) 0%, rgba(250,0,0,1) 30%, rgba(116,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#740000",endColorstr="#740000",GradientType=1);
}

.bonding-center {
    height: calc(100% - var(--ducts-height)*2);
    width: 100%;
    position: relative;
    /* top: var(--ducts-height); */
    top: calc(var(--ducts-height)*1.5);

    border-radius: 0.5vw 0px 0px 0.5vw;
    box-shadow:
    inset 0px 6px 5px -5px rgb(255 99 99),
    -0.1vw 0.2vw 0px -1px rgb(112, 0, 0),
    -0.1vw -0.2vw 0px -1px rgb(112, 0, 0);
    /* border-top: 1px solid rgb(112, 0, 0);
    border-bottom: 1px solid rgb(112, 0, 0); */

    background: rgb(116,0,0);
    background: -moz-linear-gradient(90deg, rgba(116,0,0,1) 0%, rgb(207, 4, 4) 10%, rgba(238,119,151,1) 35%, rgb(207, 4, 4) 70%, rgb(145, 0, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(116,0,0,1) 0%, rgb(207, 4, 4) 10%, rgba(238,119,151,1) 35%, rgb(207, 4, 4) 70%, rgb(145, 0, 0) 100%);
    background: linear-gradient(90deg, rgba(116,0,0,1) 0%, rgb(207, 4, 4) 10%, rgba(238,119,151,1) 35%, rgb(207, 4, 4) 70%, rgb(145, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#740000",endColorstr="#740000",GradientType=1);
}
.right-side{
    width: calc(50% - (var(--ducts-width)/2) - 0.35vw);
}
.secondary-container{
    /* margin: var(--ducts-width) 0px; */
    width: 100%;
    height: calc(100% - var(--ducts-height)*2);
    position: relative; 
    /* top: var(--ducts-height); */
    top: calc(var(--ducts-height)*1.5);

    border-radius: 0px 1vw 1vw 0px;
    box-shadow:
    inset 0px 7px 5px -5px rgb(255 99 99),
    inset -4px -4px 6px -3px rgb(129 3 3),
    inset -4px -4px 3px -3px rgb(117 0 0);

    background: rgb(116,0,0);
    background: -moz-linear-gradient(90deg, rgb(145, 0, 0) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: -webkit-linear-gradient(90deg, rgb(145, 0, 0) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: linear-gradient(90deg, rgb(145, 0, 0) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#740000",endColorstr="#d0051f",GradientType=1);
}

.secondary-center{
    width: calc(100% - 1.4vw);
    height: calc(100% - 1.4vw);
    position: relative;
    top: 0.7vw;
    left: 0.7vw;

    padding: 7%;

    border-radius: 0px 0.7vw 0.7vw 0px;

    box-shadow:
    inset -2px 4px 6px -1px rgb(129 3 3),
    inset 2px -2px 6px -1px rgb(68, 0, 0);  

    background: rgb(116,0,0);
    background: -moz-linear-gradient(90deg, rgba(116,0,0,1) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(116,0,0,1) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    background: linear-gradient(90deg, rgba(116,0,0,1) 0%, rgba(182,0,0,1) 30%, rgba(208,5,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#740000",endColorstr="#d0051f",GradientType=1);
}

.secondary-screen {
    height: 40%;
    /* width: 86%;
    top: 5%;
    left: 7%; */
    position: relative;

    border-radius: 1vw;
    background-color: rgb(18, 37, 32);
    color: yellow;
}

.secondary-screen h3 {
    font-size: 0.6rem;
    margin: 0;
    margin-right: 0.2rem;
}

.info-container{
    width: 90%;
    position: relative;
    top: 8%;
    left: 5%;
    display: grid;
    gap: 0.5rem;
}

.types-container,
.weaknesses-container{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.badge{
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: 0.4rem;
    padding: 0.1em 0.3em;
    padding-top: 0.3em;
    border-radius: 1px;
    background: rgb(15, 132, 228);
}
.badge:hover{
    box-shadow: 0px 0px 3px 0px #fff;
    background: rgb(0, 121, 151);
}

.stats-group {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 5%;

    /* background-color: blue; */
}
.stat {
    width: 14%;
    /* min-width: 10%; */
    height: 100%;
    position: relative;
}
.stat-value-container {
    background-color: white;
    width: 67%;
    margin: 5% 15%;
    /* margin: auto; */
    height: 65%;
    position: relative;
}
.stat-value {
    background-color: rgb(0, 159, 187);
    width: 100%;
    /* height: 50%; */
    position: absolute;
    bottom: 0;
}
.stat-value-container:hover {
    box-shadow: 0px 0px 3px 0px #fff;
}
.stat-value-container:hover .stat-value {
    background-color: rgb(0, 165, 124);
}
.stat-name{
    /* font-size: 0.35rem; */
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* word-wrap: break-word;
    word-break: break-word; */
}
.stat-name:nth-child(1){
    height: 10%;
    /* padding-bottom: 0.1rem; */
}
.stat-name:nth-child(3){
    height: 25%;
    /* padding-top: 0.2rem; */
}

.moves-screen {
    background: rgb(76, 168, 255);
    height: 30%;
    margin-top: 7%;
    overflow: hidden;
    border-radius: 1vw;
    box-shadow: -0.38vw 0.38vw 0.08vw 0.3vw rgb(18 112 203);
}

.moves-title {
    height: 20%;
    /* box-shadow: 0.1vw 0vw 5vw  rgb(0, 8, 15); */
    border-bottom: 0.2vw solid rgb(18 112 203);
    display: flex;
    justify-content: center;
    align-items: center;
}
.moves-title h4{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.moves-container {
    background: rgb(18 112 203);
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50%;
    gap: 0.2vw;
    overflow-y: auto;
}
.moves-container::-webkit-scrollbar {
    background: none;
    width: 1vw;
}

/* Handle */
.moves-container::-webkit-scrollbar-thumb {
    background: rgb(2, 73, 153); 
}

/* Handle on hover */
.moves-container::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 44, 92); 
}

.moves-container div{
    background: rgb(76, 168, 255);
    font-size: 0.7rem;
    width: 100%;
    text-align-last: center;
    padding: 2%;
}
.moves-container div:hover{
    background: rgb(58, 145, 226);
}
.moves-container p{
    margin: 0;
}
.moves-container .badge{
    width: fit-content;
    background-color: rgb(4, 52, 97);
    color: rgb(255, 255, 255);
    padding: 0.3rem 0.2rem;
    border-radius: 0.4vw;
}
.moves-container .badge:hover,
.moves-container div:hover .badge{
    background-color: rgb(16, 30, 48);
}